<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Style-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="assets/css/all-users.css">
    <title>Photo Studio</title>
</head>
<body>

<nav th:replace="fragment/navigation.html :: nav"></nav>

<div class="navigation-page-buttons">
    <button class="btn navigation-page-button">Admin page</button>
    <button class="btn navigation-page-button">All users</button>
</div>

<button class="btn new-user-button">New user</button>

<h1 class="all-users-title">Users</h1>
<main class="show-all-users">

    <table class="table table-bordered users-table">
        <thead>
        <tr class="colum-name">
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Get User</th>
        </tr>
        </thead>
        <tbody class="users-table-body">
        <div th:each="user : ${users}"
             th:with="userInfoPage=@{user(id=${user.getId()})}">
            <tr>
                <td scope="row" th:text="${user.id}"><a th:href="${userInfoPage}"> </a></td>

                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.firstName} +' '+ ${user.lastName} "></td>
                <td th:text="${user.zip}+' '+ ${user.country}+' '+ ${user.city} +' '+${user.address}"></td>
                <td><a type="hidden" name="id" th:href="${userInfoPage}">Get user</a></td>

            </tr>
        </div>
        </tbody>
    </table>

</main>
<!--    Footer-->
<footer class="footer">
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
