<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <title>Photo Studio</title>
</head>
<body th:with="roleUser=${user.userRole.getName()=='USER'}, roleAdmin=${user.userRole.getName()=='ADMIN'}">
<div th:if="${roleUser}">
    <nav th:replace="fragment/navigation.html :: nav"></nav>
    <hr class="header__underscore">
</div>
<div class="container">
    <!--	Bread Crumb-->
    <div th:if="${roleAdmin}" class="bread__crumb-navigation">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb__link" th:href="@{/admin}">Admin page</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb__link" th:href="@{/admin/users}">All users</a></li>
                <li class="breadcrumb-item breadcrumb-item__active" aria-current="page">Manage user</li>
            </ol>
        </nav>
    </div>
    <!--Bread Crumb End-->
    <h1>Change password</h1>

    <div>
        <form th:action="@{'/security/change-password'(userId=${user.id})}" method="post">
            <div class="form-group">
                <input type="text" class="form-control " id="oldPassword"
                       placeholder="oldPassword" name="oldPassword" required>
                <div th:if="${invalidOldPassword == 'yes'}" class="form-text error">
                    The mail/phone or password incorrect
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" th:placeholder="#{password.placeholder}"
                       name="password"
                       required>
                <div th:if="${invalid == 'yes'}" class="form-text error">
                    The mail/phone or password incorrect
                </div>
            </div>
            <button type="submit" class="btn sign-in-button" th:text="#{sign.in.button}">Sing in</button>
        </form>

    </div>
</div>
</body>
</html>