<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <link rel="stylesheet" type="text/css" href="assets/css/data-protection-legal-information.css">
    <title th:text="#{legal.title}">Imprint</title>
</head>
<body>
<header class="header">
    <div class="container-fluid">
        <!--NavBar-->
        <nav th:replace="fragment/navigation.html :: nav"></nav>
        <hr class="header__underscore">
        <!--NavBarEnd-->
    </div>
</header>

<main>
    <div class="container">
        <p class="page_main-title">Miari Fotografie</p>
    </div>
    <div class="container-main-custom">
        <div class="container">
            <div class="info-text-block">
                <div class="info-title" th:text="#{legal.title}">
                    Imprint
                </div>
                <div class="info-text">
                    <p th:text="#{legal.section.1.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.1.text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.2.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.2.text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.3.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.3.text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.4.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p th:text="#{legal.section.4.text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                </div>
            </div>
        </div>
    </div>
</main>

<meta th:replace="fragment/footer.html :: footer">
<meta th:replace="fragment/script.html :: script">
</body>

</html>