<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">
    <title th:text="#{page.title}">Login</title>
</head>

<body>
<!--NavBar-->
<nav th:replace="fragment/navigation.html :: nav"></nav>
<hr class="header__underscore">
<!--NavBarEnd-->

<main>
    <div class="container container-main login">
        <h1 class="login-title">Miari Fotografie</h1>

        <div class="login-form-wrapper">
            <form class="login-form" action="login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control " id="inputName" aria-describedby="nameHelp"
                           th:placeholder="#{email.placeholder}" name="login" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" th:placeholder="#{password.placeholder}"
                           name="password"
                           required>
                    <div th:if="${invalid == 'yes'}"  class="form-text incorrect-login">
                        The mail/phone or password incorrect
                    </div>
                </div>
                <button type="submit" class="btn sign-in-button" th:text="#{sign.in.button}">Sing in</button>
            </form>

        </div>
    </div>
</main>

<!--    Footer-->
<meta th:replace="fragment/footer.html :: footer">
<meta th:replace="fragment/script.html :: script">
</body>

</html>