<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <title th:text="#{page.title}">Login</title>
</head>

<body>
<!--NavBar-->
<nav th:replace="fragment/navigation.html :: nav"></nav>
<hr class="header__underscore">
<!--NavBarEnd-->

<main>
    <div class="container container-main login">
        <h1 class="login-title">Miari Fotografie</h1>

        <div class="login-form-wrapper">
            <div class="login-header">
                <h3 th:text="#{sign.in.label}">Sing In</h3>
            </div>
            <hr class="login-underscore">

            <form class="login-form" action="login" method="post">

                <div class="incorrect-login" th:if="${invalid == 'yes'}" th:text="#{incorrect.login}">Incorrect login(email or phone) or password
                    please
                    try again
                </div>

                <div class="form-group">
                    <input type="text" class="form-control " id="inputName" aria-describedby="nameHelp"
                           th:placeholder="#{email.placeholder}" name="login" required>
                    <small id="nameHelp" class="form-text text-muted" th:text="#{no.share.label}">We'll never share your login with anyone
                        else.
                    </small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" th:placeholder="#{password.placeholder}"
                           name="password"
                           required>
                </div>
                <button type="submit" class="btn sign-in-button" th:text="#{sign.in.button}">Sing in</button>
            </form>

            <hr class="login-underscore login-underscore--green">
            <hr class="login-underscore login-underscore--rounded">
        </div>
    </div>
</main>

<!--    Footer-->
<meta th:replace="fragment/footer.html :: footer">
<meta th:replace="fragment/script.html :: script">
</body>

</html>