<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <head>
        <meta th:replace="fragment/head.html :: meta">
        <link th:replace="fragment/head.html :: link">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/new-order.css}">
        <title>Photo Studio</title>
    </head>
</head>

<body>
<div class="container">

    <!--Bread Crumb-->
    <div class="bread__crumb-navigation">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin page</a></li>
                <img class="bread__crumb-arrow" th:src="@{/assets/images/Arrow.jpg}" alt="arrow">
                <li class="breadcrumb-item"><a th:href="@{/orders}">Order journal</a></li>
                <img class="bread__crumb-arrow" th:src="@{/assets/images/Arrow.jpg}" alt="arrow">
                <li class="breadcrumb-item active" aria-current="page">New order</li>
            </ol>
        </nav>
    </div>
</div>
<!--Bread Crumb End-->

<h1 class="order__title">Order</h1>

<main>
    <div class="container order">
        <div class="order__main-info">
            <div class="order__detail-info order__number" th:text="${order.id}"></div>
            <div class="order__detail-info order__date"
                 th:text="${#temporals.format(order.orderDate,'dd-MM-yyyy HH:mm')}"></div>
            <div class="order__detail-info order__status" th:text="${order.status}"></div>
        </div>
        <div class="order__user-info">
            <input type="email" class="form-control order__detail-info order__user-email" id="email"
                   th:value="${order.user.email}">
            <button class="btn btn-submit btn-outline-dark button order__button order__search-button">Search user
            </button>
            <a th:href="@{/user}" class="btn btn-submit btn-outline-dark button order__button order__status-button">Create
                new
                user</a>
        </div>
        <div>
            <textarea class="form-control order__detail-info order__comment" id="comment" rows="5" name="comment"
                      th:value="${order.comment}"></textarea>
        </div>
        <div class="order__photos">
            <div class="photo-aria overflow-auto">
                <div class="row order__block">
                    <div class="col-md-3" th:each="photo : ${order.photoSources}">
                        <div class="order__photo-block">
                            <img class="order__photo" th:src="@{'/photo' + ${photo}}" alt="photo">
                        </div>
                        <div class="photo__buttons">
                            <a class="photo-option" href="#"><i class="fas fa-search-plus"></i></a>
                            <a class="photo-option" href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo-add-delete-buttons">
                <button class="btn btn-submit btn-outline-dark button order__button photo-add-button">Add</button>
                <button class="btn btn-submit btn-outline-dark button order__button photo-delete-button">Delete all
                </button>
            </div>
        </div>
        <div class="order__complete-buttons">
            <button class="btn btn-submit btn-outline-dark button order__button save-button">Save</button>
            <button class="btn btn-submit btn-outline-dark button order__button view-select-button">Status to view and
                select
            </button>
        </div>
    </div>
</main>

</body>
<meta th:replace="fragment/script.html :: script">
</html>