<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <title th:text="#{page.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/reset-password.css}">
</head>
<body>
<header>
    <nav th:replace="fragment/navigation.html :: nav"></nav>
    <hr class="header__underscore">
</header>
<main>
    <div class="container container-main">
        <h1 class="reset-password__title" th:text="#{reset.password.title}"></h1>
        <div class="reset-password__position-form">
            <form th:action="@{/security/reset-password}" method="post" class="reset-password__main-form">
                <div class="reset-password__fields">
                    <div class="form-group">
                        <label for="email" th:text="#{reset.password.label}" class="reset-password__label"></label>
                        <input type="email" class="form-control form-control-sm reset-password__input-field"
                               th:placeholder="#{reset.password.placeholder}" id="email" name="email" required>
                    </div>
                    <div th:if="${invalid == 'yes'}" class="form-text error" th:text="#{reset.password.error}">
                    </div>
                    <div class="reset-password__button-position">
                        <button type="submit" class="btn btn-submit btn-outline-dark button reset-password__button"
                                th:text="#{reset.password.button}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<meta th:replace="fragment/footer.html :: footer">
<meta th:replace="fragment/script.html :: script">
<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>