<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <link rel="stylesheet" type="text/css" href="assets/css/add-user.css">
    <title>Upload</title>
</head>

<body>

<div class="container">

    <form id="fileUploadForm" method="post" action="photo" enctype="multipart/form-data">
        <div class="form_group">
            <input type="text" name="orderComment">
            <input type="file" name="photo" multiple="multiple">
        </div>
        <button id="uploadBtn" type="submit" class="btn btn_primary">Upload</button>
    </form>

</div>

<meta th:replace="fragment/script.html :: script">
</body>

</html>
