<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta th:replace="fragment/head.html :: meta">
    <link th:replace="fragment/head.html :: link">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/add-user.css}">
    <title>Photo Studio</title>
</head>

<body th:with="roleUser=${user.userRole.getName()=='USER'}, roleAdmin=${user.userRole.getName()=='ADMIN'}">

<div th:if="${roleUser}">
    <nav th:replace="fragment/navigation.html :: nav"></nav>
    <hr class="header__underscore">
</div>
<div class="container">
    <!--	Bread Crumb-->
    <div th:if="${roleAdmin}" class="bread__crumb-navigation">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb__link" th:href="@{/admin}">Admin page</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb__link" th:href="@{/admin/users}">All users</a></li>
                <li class="breadcrumb-item breadcrumb-item__active" aria-current="page">Manage user</li>
            </ol>
        </nav>
    </div>
    <!--Bread Crumb End-->

    <h1 class="page__title">Manage user</h1>

    <form class="login-form">
        <div class="new__user__form">
            <div class="user-login">
                <h3 class="user__title-login">Login</h3>

                <div class="login-form_between">
                    <input type="email" class="form-control  " name="email" id="email" placeholder="Email "
                           th:value="${userToEdit.email}">
                    <input type="text" class="form-control  " id="phoneNumber" placeholder="Phone"
                           th:value="${userToEdit.phoneNumber}">
                </div>
                <div class="new__user-info">
                    <input type="text" class="form-control " id="title" placeholder="Title"
                           th:value="${userToEdit.title}">
                    <input type="text" class="form-control" id="firstName" placeholder="First name"
                           th:value="${userToEdit.firstName}">
                    <input type="text" class="form-control " id="lastName" placeholder="Last name"
                           th:value="${userToEdit.lastName}">
                    <input type="text" class="form-control " id="country" placeholder="Country"
                           th:value="${userToEdit.country}">
                    <input type="text" class="form-control " id="city" placeholder="City" th:value="${userToEdit.city}">
                    <input type="text" class="form-control " id="address" placeholder="Address"
                           th:value="${userToEdit.address}">
                    <input type="text" class="form-control " id="zip" placeholder="ZIP code"
                           th:value="*{userToEdit.zip != 0}? *{userToEdit.zip} : ''">
                    <select class="form-control" id="langId">
                        <option th:each="lang : ${userLanguages}" th:value="${lang.getId()}"
                                th:text="${lang.getFullName()}"
                                th:selected="${lang.getId()==userToEdit.getLangId()}"></option>
                    </select>
                    <input type="text" class="form-control form-control_info" id="additionalInfo"
                           placeholder="Additional Information" th:value="${userToEdit.additionalInfo}">
                    <button class="btn button btn__manage" th:onclick="'updateUser(\'' + ${userToEdit.getId()} + '\');'">Save
                    </button>
                </div>

                <div class="manage-buttons">

                    <a th:if="${isMe}" th:href="@{/security/change-password}"
                       class="btn btn__manage btn__manage--pink btn__manage--mb" style="line-height: 40px">Change
                        password
                    </a>

                    <button th:if="${roleAdmin}" type="button" class="btn btn__manage btn__manage--pink"
                            data-toggle="modal" data-target="#delete-user">Delete user
                    </button>
                </div>

            </div>
        </div>
    </form>
    <div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="delete-user-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title dialog-title" id="delete-order-title">Confirm delete</h5>
                </div>
                <div class="modal-body">
                    <p class="dialog-body"
                       th:text="'Are you sure you want to delete user with email '+${userToEdit.email}+' ?'"></p>
                </div>
                <div class="modal-footer dialog-buttons">
                    <button class="btn btn-submit btn-outline-dark button dialog__button
                            delete-button" data-dismiss="modal">No
                    </button>
                    <button class="btn btn-submit btn-outline-dark button dialog__button
                            delete-button"
                            th:onclick="'deleteUser(\'' + ${userToEdit.getId()} + '\');'">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<meta th:replace="fragment/script.html :: script">
<script th:src="@{/assets/js/user/user.js}"></script>
<meta th:replace="fragment/notification.html :: body">
</body>

</html>
