<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Style-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <title>Photo Studio</title>
</head>

<body>

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light top-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav top-navbar">
            <li class="nav-item active ">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Price</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>

            <li class="nav-item dropdown top-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ENG
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Eng</a>
                    <a class="dropdown-item" href="#">Ger</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<hr class="header__underscore">
<!--NavBarEnd-->
<div class="user-info">

    <h1 class="user-info-title">Manage User</h1>

    <div class="user-info-form-wrapper">

        <form class="user-info-form" >

            <div class="form-group">
                <input type="text" class="form-control " th:src="${user.id}"  id="inputEmail" placeholder="Email">
            </div>
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="phoneNumber"  id="inputPhone" placeholder="Phone Number">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="password"   placeholder="Password">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="firstName" id="inputFirstName" placeholder="First Name">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control " name="lastName"  id="inputLastName" placeholder="Last Name">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="genderName"  id="inputGender" placeholder="Gender">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="country" id="inputCountry" placeholder="Country">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control "  name="city"  id="inputCity" placeholder="City">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control " name="address" id="inputAddress" placeholder="Address">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="number" name="zip" class="form-control " id="inputZIP" placeholder="ZIP">-->
<!--            </div>-->
            <button type="submit"  th:action="@{delete/{id}(id=${user.id})}" method="delete" class="btn sign-in-button">Delete User</button>

        </form>

    </div>
</div>


<!--    Footer-->
<footer class="footer">
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
