<html th:lang="${language}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:if="${user!=null}" id="notification" class="notification-form-message notification-form-message--hidden">
    <div id="notification-close">x</div>
    <div id="notification-message">
    </div>
</div>

<script th:if="${user!=null}" th:inline="javascript">
    console.log("Notification js");

function open(){
   console.log("Open socket");
}

function close(e){
   console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
    setTimeout(function() {
      connect();
    }, 1000);
}

function message(msgEvent){
 console.log(msgEvent);
 const notificationMessageDiv = document.getElementById("notification-message");
 notificationMessageDiv.innerHTML = createNotificationHtml(JSON.parse(msgEvent.data));

 const notificationDiv = document.getElementById("notification");
 notificationDiv.classList.remove("notification-form-message--hidden");
}

function createNotificationHtml(message) {
 const orderId = message.orderId;
 const messageText = message.message;

 const messageStatus = messageText.replace( orderId, ' <a href="order/' + orderId+ '">' + orderId + '</a> ');
 return messageStatus;
}

const notificationCloseDiv = document.getElementById("notification-close");

notificationCloseDiv.addEventListener('click', function(){
    const notificationDiv = document.getElementById("notification");
    notificationDiv.classList.add("notification-form-message--hidden");
});

function connect() {
  const path = /*[[@{/notification}]]*/ "localhost:8080/b-27/notification";
  const ws = new WebSocket("ws://" + location.host + path);

  ws.onopen = open;
  ws.onmessage = message;
  ws.onclose = close;
}

connect();

</script>
</body>
</html>