navigation-page-buttons {
    display: inline-block;
}

.navigation-page-button {
    margin-top: 50px;
    margin-left: 100px;
    width: 211px;
    height: 61px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.new-user-button {
    margin-top: 50px;
    margin-left: 100px;
    background: #FAE1DE;
    border: 3px solid rgba(228, 159, 182, 0.6);
    border-radius: 10px;
    width: 211px;
    height: 61px;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.all-users-title {
    text-align: center;
    margin-top: 100px;
    font-weight: 300;
    font-size: 96px;
    line-height: 96px;
}

.users-table {
    margin-top: 100px;
    margin-bottom: 100px;

}

.colum-name {
    background: rgba(250, 225, 222, 0.8);
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.users-table-body {
    font-weight: 300;
    font-size: 26px;
    line-height: 26px;
    text-align: center;

}
