.denied-block {
    background: rgba(137, 203, 201, 0.25);
    border: 10px;
    border-radius: 10px 0;
}

.denied-title {
    font-size: 36px;
    line-height: 44px;
}

.footer-access {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}