.page__title {
    font-weight: 300;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.new__user__form {
    width: 784px;
    border: 3px solid #E49FB6;
    border-radius: 10px;
    margin: 100px auto;
}

.new__user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

    border-top: 3px solid #E49FB6;
    margin-top: 50px;
    width: 781px;
    height: 1048px;
    padding: 50px 30px;
}

.login-form_between {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.login-form_between > input{
    margin: 10px;
}

.user__title-login {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 50px auto 50px auto;
}

.form-control {
    border: 1px solid #E49FB6;
    border-radius: 10px;
    height: 74px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
}

.form-control_info {
    height: 170px;
}

.manage-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
    border-top: 3px solid #E49FB6;
    padding: 20px;
}

.btn{
	background: #FAE1DE;
    border: 2px solid #FAE1DE;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	height: 74px;
	border-radius: 10px;
}

.btn__manage {
	width: 273px;
	height: 64px;
}

.btn__manage--pink{
	background: #FCC5D9;
}

.btn__manage--mb{
    margin-bottom: 15px;
}

.delete-button {
    width: 200px;
    height: 64px;
    background: #FCC5D9;
    margin-left: 25px;
    border-color: #FCC5D9;
}
