body {
    font-family: "Cormorant Upright", sans-serif;
}

.header{
    position: relative;
}

.header__underscore {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.top-nav {
    height: 137px;
}

.top-navbar {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
}

.top-navbar a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    padding: 5px;
}

.top-dropdown {
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 10px;
}

.top-dropdown a {
    font-size: 13px;
    line-height: 13px;
}

.top-dropdown a:after {
    border: 0;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f078";
    margin-left: 5px;
    vertical-align: 0;
    color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu show {
    max-width: 50px;
}

.top-dropdown a:after {
    border: 0;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f078";
    margin-left: 5px;
    vertical-align: 0;
    color: rgba(0, 0, 0, 0.8);
}

.button {
    width: 18rem;
    height: 5rem;
    border: 3px solid rgba(250, 225, 222, 0.8);
    border-radius: 0.6rem;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
}

.button:hover {
    color: #000000;
    background-color: rgba(250, 225, 222, 0.8);
    border-color: rgba(250, 225, 222, 0.8);
}

.footer {
    background: rgba(228, 159, 182, 0.6);
    height: 187px;
}

/* User dropdown menu on Navigation */
.user-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.user-dropdown__link {
    padding: 0 10px;
    border-radius: 10px;
}

.user-dropdown__email{
    text-transform: none;
}

.user-dropdown__user-menu.show {
    display: flex;
}

.user-dropdown__user-menu {
    position: absolute;
    top: 55px;

    flex-direction: column;
    display: none;
    background-color: #ffffff;

    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    border-radius: 10px;
}

.user-menu__item {
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

a.user-menu__item{
    text-transform: none;
}

.user-menu__item:first-child{
    margin-top: 0;
}
/* User dropdown menu on Navigation end*/