body {
    font-family: "Cormorant Upright", sans-serif;
}

.header{
    position: relative;
}

.header__underscore {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.top-nav {
    height: 137px;
}

.top-navbar {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
}

.top-navbar a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    padding: 5px;
}

.top-dropdown {
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 10px;
}

.top-dropdown a {
    font-size: 13px;
    line-height: 13px;
}

.top-dropdown a:after {
    border: 0;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f078";
    margin-left: 5px;
    vertical-align: 0;
    color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu show {
    max-width: 50px;
}

.top-dropdown a:after {
    border: 0;
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f078";
    margin-left: 5px;
    vertical-align: 0;
    color: rgba(0, 0, 0, 0.8);
}

.button {
    width: 18rem;
    height: 5rem;
    border: 3px solid rgba(250, 225, 222, 0.8);
    border-radius: 0.6rem;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
}

.button:hover {
    color: #000000;
    background-color: rgba(250, 225, 222, 0.8);
    border-color: rgba(250, 225, 222, 0.8);
}

.button:active {
    background-color: #FAE1DE;
    border-color: #FAE1DE;
}
/*Bread Crumb */
.bread__crumb-navigation {
	margin-top: 3.125rem;
	margin-left: 6.25rem;
}

.breadcrumb {
	margin: 0;
	padding: 0;
	background-color: white;
}

.bread__crumb-arrow {
	margin-top: 1.5625rem;
	height: 5px;
	width: 6.25rem;
}

.breadcrumb-item {
	width: 13.1875rem;
	height: 3.8125rem;
	border: 1px solid #000000;
	border-radius: 0.625rem;
	font-weight: 300;
	font-size: 2.25rem;
	line-height: 2.25rem;
	text-align: center;
	text-decoration: none;
	padding-top: 0.625rem;
}

.breadcrumb-item a {
	color: #000000;
	text-decoration: none;
}
/*Bread Crumb End*/

/* Table */
table.table__rounded {
	max-width: 77.5rem;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid rgba(228, 159, 182, 0.6);
	border-radius: 0.625rem;
	margin: 6.25rem;
}

tr.table_header {
	max-width: 77.5rem;
	border-left: 1px solid rgba(228, 159, 182, 0.6);
	background: rgba(250, 225, 222, 0.8);
    font-weight: 300;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}

td.table_header {
	border-left: 1px solid rgba(228, 159, 182, 0.6);
	border-radius: 0px;
}

tr.table_info,
td.table_info {
	font-weight: 300;
	font-size: 2.25rem;
	line-height: 2.25rem;
	text-align: center;
	border-left: 1px solid rgba(228, 159, 182, 0.6);
	border-top: 1px solid rgba(228, 159, 182, 0.6);
}

td.table_info:first-child,
td.table_header:first-child {
	border-left: none;
}

td.table_header:first-child {
	border-radius: 0.625rem 0 0 0;
}

td.table_header:last-child {
	border-radius: 0 0.625rem 0 0;
}
/* Table End*/

.footer {
    background: rgba(228, 159, 182, 0.6);
    height: 187px;
}

/* User dropdown menu on Navigation */
.user-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.user-dropdown__link {
    padding: 0 10px;
    border-radius: 10px;
}

.user-dropdown__email{
    text-transform: none;
}

.user-dropdown__user-menu.show {
    display: flex;
}

.user-dropdown__user-menu {
    position: absolute;
    top: 55px;

    flex-direction: column;
    display: none;
    background-color: #ffffff;

    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    border-radius: 10px;
}

.user-menu__item {
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

a.user-menu__item{
    text-transform: none;
}

user-dropdown__user-menu .user-menu__item:first-child{
    margin-top: 0;
}

button.user-menu__item {
    height: 36px;
    background-color:#fff;
}

button.user-menu__item:hover {
    text-decoration:underline;
}

/* User dropdown menu on Navigation end*/