.contact-text-block {
    background: rgba(250, 225, 222, 0.8);
    opacity: 0.6;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 100px;
}

.contact-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

.contact-form-block {
    border: 2px solid #FAE1DE;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 50px;
    margin-bottom: 100px;
}

.radio-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    /*padding: 1%;*/
    line-height: 46px;
    color: #000000;
    opacity: 0.8;
}

.form-default-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    border: 1px solid #FCC5D9;
    border-radius: 10px;
    /*margin: 1%;*/
}

.contact-message-area {
    height: 169px !important;
    margin-bottom: 40px;
}

/*checkbox customization*/
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #FCC5D9;
}

.checkbox-container:hover input ~ .custom-checkmark {
    background-color: rgba(250, 225, 222, 0.8);
}

.checkbox-container input:checked ~ .custom-checkmark {
    background-color: background: rgba(252, 197, 217, 0.6);
}

.custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .custom-checkmark:after {
    display: block;
}

.checkbox-container .custom-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid grey;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*radio customization*/
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /*background-color: #eee;*/
}

.checkmark-boy {
    border: 2px solid #89CBC9;
    box-sizing: border-box;
    border-radius: 50%;
}

.checkmark-girl {
    border: 2px solid #FCC5D9;
    box-sizing: border-box;
    border-radius: 50%;
}

.checkmark-twins {
    border: 2px solid #FAE1DE;
    box-sizing: border-box;
    border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #FAE1DE;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #FAE1DE;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
 	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #89CBC9;
}

