.container-main-custom {
    background: url("../images/contact-bg.png") repeat-y;
}

.message-sent {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    color: red;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    background: rgba(250, 225, 222, 0.8);
    border-radius: 10px;
}

.contact-text-block {
    background: rgba(250, 225, 222, 0.8);
    opacity: 0.8;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 100px;
}

.contact-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

.contact-form-block {
 background: rgba(255, 255, 255, 0.6);
    border: 2px solid #FAE1DE;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 50px;
    margin-bottom: 100px;
}

.radio-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #000000;
    opacity: 0.8;
}

.form-default-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    border: 1px solid #FCC5D9;
    border-radius: 10px;
}

.contact-message-area {
    height: 169px !important;
    margin-bottom: 40px;
}

/*radio customization*/
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /*background-color: #eee;*/
}

.checkmark-boy {
    border: 2px solid #89CBC9;
    box-sizing: border-box;
    border-radius: 50%;
}

.checkmark-girl {
    border: 2px solid #FCC5D9;
    box-sizing: border-box;
    border-radius: 50%;
}

.checkmark-twins {
    border: 2px solid #FAE1DE;
    box-sizing: border-box;
    border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #FAE1DE;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #FAE1DE;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
 	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #89CBC9;
}

