.container-main {
    overflow:inherit;
}

.baby-image_intro {
   background: url("../images/baby-intro.jpg") no-repeat;
   background-size: cover;
    margin-top: -140px;
    height: 1613px;
    width: 100%;
}

.home__main-title {
    font-family: "Cormorant Upright", sans-serif;
    max-width: 150px;
    font-weight: 300;
    font-size: 144px;
    line-height: 150px;
    position: absolute;
    top: 200px;
    margin-left: 5%;
}

.home__content {
    margin-top: 30px;
    padding-top: 100px;
    padding-bottom: 200px;
    background: url("../images/home-page-fon.png") repeat-y;
    background-size: cover;
}

.home__content-title {
    font-weight: 300;
    font-size: 96px;
    line-height: 105px;

    text-align: center;
    letter-spacing: -2px;
}

.shooting-age {
    margin-top: 100px;
    margin-left: 100px;
    background: #FBE7E5;
}

.description__card {
    width: 817px;
    padding: 50px 75px;
    border-radius: 10px;
}

.description__card-header {
    font-weight: 300;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    margin: 0 0 30px;
}

.description__card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.description__card-text:last-child {
    margin-top: 50px;
}

.baby-images {
    margin-top: 100px;
    font-size: 0;
}

.baby-image {
    display: inline-block;
}

.baby-image img {
    width: 100%;
    height: auto;
}

.baby-image_left {
    width: 40%;
}

.baby-image_right {
    width: 60%;
}

.shooting-location {
    margin-top: 100px;
    margin-left: auto;
    margin-right: 100px;
    background: rgba(137, 203, 201, 0.5);
}