.login {
    max-width:1440px;
    margin-top: 45px;
    background: url("../images/login-page-fon.png");
    background-size: cover;
    background-repeat: repeat-y;
    padding-bottom: 200px;
}

.login-title {
    margin-left: 75px;
    font-weight: 300;
    font-size: 144px;
    line-height: 150px;
}


.login-form-wrapper {
    border: 2px solid #FCC5D9;
    border-radius: 10px;
    margin: 150px auto 200px auto;
    width: 515px;
}

.login-header {
    border-radius: 10px 10px 0 0;
    background: rgba(137, 203, 201, 0.25);
    padding: 42px 0;
    text-align: center;
}

.login-header h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
}

.login-underscore {
    margin: 0;
}

.login-underscore--green {
    height: 125px;
    background: rgba(137, 203, 201, 0.25);
}

.login-underscore--rounded {
    background: rgba(250, 225, 222, 0.8);
    height: 7px;
    border-radius: 0 0 10px 10px;
}

.login-form {
    padding: 50px;
}

.form-control {
    border: 1px solid #FCC5D9;
    border-radius: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    height:56px;
}

.form-control:active {
   border-width:2px;
}

.sign-in-button {
       background: #FAE1DE;
       border-radius: 10px;
       margin-top: 20px;
       margin-left:32%;
       margin-right:32%;
       width: 36%;
       font-weight: 300;
       font-size: 32px;
       line-height: 32px;
       text-align: center;
       padding: 16px 0;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.sign-in-button:hover {
   font-weight:600;
}

.sign-in-button:active {
   box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}