.order {
    max-width: 1240px;
}

.order__title {
    font-weight: 300;
    font-size: 144px;
    line-height: 150px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.order__main-info {
    display: flex;
    justify-content: space-between;
    margin: 0 246px;

    padding-bottom: 40px;
}

.order__detail-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    border: 1px solid #FCC5D9;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.order__number {
    height: 56px;
    width: 133px;
}

.order__date {
    height: 56px;
    width: 190px;
}

.order__status {
    height: 56px;
    width: 282px;
}

.order__user-info {
    display: flex;
    justify-content: space-between;
    margin: 0 136px;
}

.order__user-email {
    margin-top: 6px;
    height: 56px;
    width: 281px;
    text-align: center;
}

.order__button {
    font-size: 32px;
    line-height: 32px;
    height: 64px;
    background: #FAE1DE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.order__search-button {
    width: 200px;
}
