.order {
    max-width: 1240px;
}

.order__title {
    font-weight: 300;
    font-size: 144px;
    line-height: 150px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.order__main-info {
    display: flex;
    justify-content: space-between;
    margin-left: 246px;
    margin-right: 216px;

    padding-bottom: 40px;
}

.order__detail-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    border: 1px solid #FCC5D9;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.order__number {
    height: 56px;
    width: 133px;
}

.order__date {
    height: 56px;
    width: 190px;
}

.order__status {
    height: 56px;
    width: 282px;
}

.order__user-info {
    display: flex;
    justify-content: space-between;
    margin-left: 136px;
    margin-right: 106px;
    padding-bottom: 40px;
}

.order__user-email {
    margin-top: 6px;
    height: 56px;
    width: 281px;
    text-align: center;
}

.order__button {
    font-size: 32px;
    line-height: 46px;
    height: 64px;
    width: auto;
    background: #FAE1DE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 20px;
}

.order__button:hover {
    font-weight: 600;
}

.order__button:active {
    font-weight: 600;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.order__search-button {
    width: 200px;
}

.order__status-button {
    width: 287px;
}

.order__comment {
    align-items: normal;
    justify-content: normal;
    height: 169px !important;
    width: 1240px;
    margin-bottom: 40px;
}

.order__photos {
    height: 1314px;
    width: 1222px;
    border: 2px solid #FCC5D9;
    border-radius: 10px;
    margin-left: 9px;
    margin-bottom: 15px;
}

.photo-aria {
    height: 1170px;
    margin-bottom: 30px;
}

.order__block {
    margin: 50px 41px 30px 24px;
}

.order-photo-card {
    height: 240px;
    width: 258px;
    border: 1px solid #FCC5D9;
    border-radius: 10px;
    margin-bottom: 30px;
}

.order__photo-block {
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.order__photo-block-paid {
    background-color: rgba(252, 197, 217, 0.6);
}

.order__photo {
    padding: 15px 15px 40px;
    max-height: 230px;
    max-width: 250px;
}

.order__photo__expanded {
    padding-right: 10px;
    padding-left: 10px;
    max-height: 360px;
    max-width: 640px;
}

.photo__buttons {
    background: #FCC5D9;
    width: 256px;
    height: 40px;
    position: absolute;
    bottom: 30px;

    padding: 2% 78px 0;
    border-radius: 0px 0px 10px 10px;
}

.photo-option {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-size: 20px;
    line-height: 33px;
}

.photo-option:hover {
    color: #000000;
    opacity: 0.4;
}

.photo-add-delete-buttons {
    display: flex;
    justify-content: flex-end;
}

.order__complete-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.main-button-big {
    background: #FCC5D9;
    border-color: #FCC5D9;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.delete-button {
   width: 200px;
   height: 64px;
   background: #FCC5D9;
   margin-left: 25px;
   border-color: #FCC5D9;
}

.thank-you-label {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}


/* test copy-paste */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Checkbox customization: */
.checkbox-container {
  display: block;
  position: absolute;
  right: 5%;
  top: 5%;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkmark {
  position: absolute;
  top: 0;
  left: 7px;
  height: 20px;
  width: 20px;
  background-color: rgb(100%, 100%, 100%, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.checkbox-container:hover input ~ .custom-checkmark {
  background-color: rgb(88%, 60%, 90%, 0.5);
}

.checkbox-container input:checked ~ .custom-checkmark {
  background-color: rgba(252, 197, 217, 0.6);
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .custom-checkmark:after {
  display: block;
}

.checkbox-container .custom-checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid rgba(0, 0, 0, 0.4);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}