.reset-password__title {
    font-weight: 300;
    font-size: 144px;
    line-height: 150px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

.reset-password__position-form {
    display: flex;
    justify-content: center;
}

.reset-password__main-form {
    height: auto;
    width: 720px;
    border: 2px solid #FCC5D9;
    box-sizing: border-box;
    border-radius: 10px;
}

.reset-password__fields {
    margin: 50px;
}

.reset-password__label {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 45px;
}

.reset-password__input-field {
    border: 1px solid #FCC5D9;
    box-sizing: border-box;
    border-radius: 10px;
    height: 54px;
    width: 279px;
}

.reset-password__button {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 46px;
    width: 121px;
    height: 64px;
    background-color: #FCC5D9;
    border-color: #FCC5D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}

.reset-password__button:hover {
    font-weight: bold;
    background-color: #FCC5D9;
    border-color: #FCC5D9;
}

.reset-password__button:active {
    font-weight: bold;
    color: black !important;
    background-color: #FCC5D9 !important;
    border-color: #FCC5D9 !important;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}