<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <listener>
        <listener-class>com.photostudio.web.listener.ThymeleafInitializerListener</listener-class>
    </listener>

    <!--  Servlets  -->
    <servlet>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <servlet-class>com.photostudio.web.servlet.user.GetAllUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.photostudio.web.servlet.user.UserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AllOrdersServlet</servlet-name>
        <servlet-class>com.photostudio.web.servlet.order.AllOrdersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <url-pattern>/v1/admin/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/v1/user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllOrdersServlet</servlet-name>
        <url-pattern>/v1/orders</url-pattern>
    </servlet-mapping>
</web-app>