<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <listener>
        <listener-class>com.photostudio.listener.ThymeleafInitializerListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <servlet-class>com.photostudio.web.servlet.user.GetAllUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllUsersServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>